{% extends 'layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
<style>
    .ficons {
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 1px solid rgb(16, 15, 15);
        box-shadow: inset 0 0 0 1px rgb(16, 15, 15);
        padding: 10px;
        text-align: center;
        box-sizing: border-box;
        margin-bottom: 1rem;
    }

    .ficons:hover {
        background-color: rgb(242, 246, 130);

    }

    .preview {
        margin-top: 1rem;
        padding: 1rem;
        box-sizing: border-box;
        outline: 1px solid rgb(16, 15, 15);
        box-shadow: inset 0 0 0 1px rgb(16, 15, 15);
    }
</style>
{% endblock %}
{% block body %}

<article class="post">
    <h2>Preview 📃 {{page.filename}} </h2>
    Actions <a class="ficons" title="Edit" href="{% url 'page_edit' page.id %}">📝 </a>
    <a class="ficons" title="Delete" href="{% url 'page_delete' page.id %}">❌ </a>
    <div class="preview">
        {{code|safe}}
    </div>
</article>
{% endblock %}
{% block js %}
<script>
    $(function () {
        let textarea = $('#id_text')
        textarea.attr('rows', '45');
        textarea.css('font-size', '.8rem');
        textarea.css('background-color', '#ffffdd');
        let filename = $('#id_filename')
        filename.on('change', function () {
            let filename = $(this).val()
            let extension = filename.split('.').pop()
            if (extension !== 'md') {
                alert('Please use .md extension')
                $(this).val('   ')
            }
        })
    });
</script>
{% endblock %}