{% extends 'layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
<style>
    .ficons {
        width: 50px;
        height: 50px;
        background-color: #fff;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        text-align: center;
        padding: 10px;
    }

    .ficons:hover {
        background-color: rgb(242, 246, 130);

    }
</style>
{% endblock %}
{% block body %}
<section>
    <article>
        <form method="post">
            {% csrf_token %}
            <h5>Files available to download (select to zip)</h5>
            {% for page in pages %}
            <div>
                <input type="checkbox" name="files" value="{{page.filename}}" id="{{page.filename}}">
                <label for="{{page.filename}}">{{page.filename}}</label>
            </div>
            {% endfor %}
            <button type="submit">Download site <i class="fa fa-download" aria-hidden="true"></i> </button>
        </form>
    </article>
</section>
{% endblock %}
{% block js %}
<script>
    $(function () {
        let textarea = $('#id_text')
        textarea.attr('rows', '45');
        textarea.css('font-size', '.8rem');
        textarea.css('background-color', '#ffffdd');
        let filename = $('#id_filename')
        filename.on('change', function () {
            let filename = $(this).val()
            let extension = filename.split('.').pop()
            if (extension !== 'md') {
                alert('Please use .md extension')
                $(this).val('   ')
            }
        })
    });
</script>
{% endblock %}